.front-image {
    width: 100%;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-200%, -100%);
    -ms-transform: translate(-100%, -150%);
}

.bottom-section {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.card {
    margin: 30px;
}

.footer {
    padding: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(33, 37, 41);
}

.footer a,
.footer p {
    padding: 10px;
    margin: 10px;
    color: #fff;
}

.zion_holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.zion-img {
    width: 50%;
    padding: 20px;
}

.zion-content {
    width: 50%;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    margin: 20px 0;
}

.zion-content h1 {
    padding: 15px;
    background-color: rgb(238, 161, 46);
    color: #fff;
    text-align: center;
}

.zion-content p {
    padding: 10px;
    font-size: 18px;
}

.rainbow_holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rainbow-img {
    width: 47%;
    padding: 5px 20px;
}

.rainbow-content {
    width: 50%;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    margin: 20px 0;
}

.rainbow-content h1 {
    padding: 15px;
    background-color: rgb(238, 161, 46);
    color: #fff;
    text-align: center;
}

.rainbow-content p {
    padding: 10px;
    font-size: 18px;
}

.bryce_holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bryce-img {
    width: 50%;
    padding: 20px;
}

.bryce-content {
    width: 50%;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    margin: 20px 0;
}

.bryce-content h1 {
    padding: 15px;
    background-color: rgb(238, 161, 46);
    color: #fff;
    text-align: center;
}

.bryce-content p {
    padding: 10px;
    font-size: 18px;
}

.front-image2 {
    width: 100%;
    border-bottom: 10px solid rgb(33, 37, 41);
}

.header {
    background-color: rgb(46, 46, 46);
    color: #fff;
    text-align: center;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-container {
    display: flex;
    justify-content: center;
}

.about-content {
    padding: 15px;
    margin: 15px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.about-content h2 {
    color: rgb(8, 106, 252);
}

.about-content p {
    padding: 5px;
    margin: 15px;
}

#about-img-holder {
    width: 30%;
    margin: 15px;
}

#map-img {
    width: 100%;
    margin: 20px;
}

#contact-header {
    background-color: rgb(46, 46, 46);
    color: #fff;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#form-style {
    padding: 10px;
    margin: 15px 30%;
}

.announcement {
    padding: 15px;
    margin: 15px;
    text-align: center;
    color: rgb(238, 161, 46)
}